body {
    background-color: black;
    text-align: center;
}
#design {
    display: flex;
    text-align: center;
}

.board_design{
    display: flex;
    text-align: center;
    margin-left: 350px;
}
.board_design> div{
    text-align: center;
    margin: 10px;
    padding: 0px;
}

.queue_design{
    display: flex;
    text-align: center;
}

.queue_design> div{
    text-align: center;
    margin: 10px;
    padding: 0px;
}

.button_design{
    display: flex;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.button_design> div{
    text-align: center;
}
.lines_design{
    display: center;
    text-align: right;
}
.lines_design> div{
    text-align: right;
}
.score_design{
    display: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.score_design> div{
    text-align: center;
}

#BoardTetris table {
    border-collapse: collapse;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    border: 3px solid white;
}

#BoardTetris table td {
    background-color: black;
    width: 26px;
    height: 26px;
    border: 0.5px solid gray;
}

#ScoreTetris table{
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    background-color:white;
    color: black;
    font-weight: bolder;
    border-radius: 20px 20px 20px 20px;
}
#ScoreTetris table td{
    margin-right: auto;
    margin-left: auto;
    width: 120px;
    height: 24px;
    text-align: center;
    background-color:white;
    color: black;
    border-radius: 20px 20px 20px 20px;
}

#Text{
    font-size: 12px;
    color: white;
}

#Lines{
    font-size: 30px;
    color: white;
}
#Text2{
    font-size: 12px;
    color: white;
}

#Level{
    font-size: 30px;
    color: white;
}

#Held_piece table {
    border-collapse: collapse;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    border: 3px solid white;
}

#Held_piece table td {
    background-color: black;
    width: 6px;
    height: 6px;
}

#Queue table {
    border-collapse: collapse;
    font-size: 150%;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    border: 3px solid white;
}

#Queue table td {
    background-color: black;
    width: 6px;
    height: 6px;
}
